.post {
    &__desc {
        position: relative;
        padding: 7.2rem 2.4rem 7.2rem 3.2rem;
        .cta-2 {
            width: 100%;
        }
        
        &__text-wrapper {
            position: static;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            // align-items: center;
            &:nth-of-type(1){
                
                > * {
                    max-width: 38.7rem;
                }
            }
        }
    }

    // 560px styles
    @include breakpoint-up(xsmall) {
        display: flex;
        flex-direction: row-reverse;
        &:nth-of-type(even) {
            flex-direction: row;
        }
        &__img {
            flex-basis: 35.55%;
            flex-grow: 1;
            height: 65rem;
        }
        &__desc {
            position: relative;
            flex-basis: 64.45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;

            &:not(.hero){
                > * {
                    width: 78.182%
                }
            }

            &__text-wrapper {
                position: relative;
                padding: 0 2.7rem;
                &::before {
                    left: 0;
                }
            }

            .text-body {
                margin-top: 2.1rem;
                margin-bottom: 4.3rem;
            }
        }
    }

    // 768px styles {
    @include breakpoint-up(medium) {
        &__desc {
            &__text-wrapper {
                padding: 0 10.91%;
                
                &::before {
                    left: 0;
                }
            }
        }
    }

    // 1200px styles
    @include breakpoint-up(large) {
        &__desc {
            flex-basis: 42.361%;
            &__text-wrapper {
                padding: 0 18.35%;
            }
            &:not(.hero){
                > * {
                    width: 64.443%
                }
            }
        }
    }
}
