.pricing {
    .post {
        margin-bottom: 6.4rem;
    }
    // monthly/yearly switch component
    &__switch-container {
        width: 25.5rem;
        height: 3.2rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.2rem;
        .opacity-toggle {
            opacity: 50%;
            transition: opacity 250ms ease-in-out;
            &.active {
                opacity: 100%;
            }
        }
    }
    // Pricng Plans section
    .plans {
        &__plan {
            display: grid;
            justify-items: center;
            text-align: center;
            background-color: #f5f5f5;
            padding: 5.6rem 2.2rem 4rem 2.2rem;
            margin-bottom: 2.4rem;
            .text-body {
                margin-top: 0;
                margin-bottom: 4rem;
            }
            .btn {
                transition: background-color 250ms ease-in-out;
                &:hover {
                    background-color: $gray;
                    color: $black;
                }
            }
            &.accented {
                .btn {
                    background-color: $white;
                    color: $black;
                    &:hover {
                        background-color: $gray;
                    }
                }
                // Override default ".accented" styles specifically for "plan" component
                &::before {
                    left: 0;
                    width: 100%;
                    height: 0.6rem;
                }
            }
        }
        // "Plan" tablet styles
        @include breakpoint-up(medium) {
            &__plan {
                grid-template-columns: 50% 50%;
                justify-items: start;
                text-align: left;
                padding: 4rem;
                max-width: 75rem;
                margin: 0 auto 2.4rem auto;
                // grid-template-rows: repeat(3, 1fr);
                // grid-template-rows: auto;
                * {
                    grid-column: 1 / 2;
                }
                .text-body {
                    max-width: 27rem;
                }
                .sub-amount,
                .sub-int {
                    grid-column: 2 / 3;
                    grid-row: 1/2;
                    justify-self: end;
                }
                .sub-int {
                    grid-row: 2/3;
                }
                &.accented {
                    &::before {
                        width: 0.6rem;
                        height: 100%;
                    }
                }
            }
        }
        // "plans" desktop styles
        @include breakpoint-up(xlarge) {
            display: flex;
            column-gap: 3rem;
            padding-left: 0;
            padding-right: 0;
            align-items: center;
            &__plan {
                width: 31.54%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                height: 40.7rem;
                &.accented {
                    height: 47rem;
                }
            }
        }
    }
}
