.footer {
    padding: 5.6rem 3.2rem 5.6rem 3.3rem;
    .grid {
        justify-items: center;
    }
    &__logo {
        margin-bottom: 3.2rem;
        svg > g > path:first-child {
            // Make Logo text white in footer
            fill: $white;
        }
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        width: 15.4rem;
        margin-bottom: 4.9rem;
        &__social {
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        // social links
        .social--facebook {
            background-image: url("../../assets/shared/desktop/facebook.svg");
        }
        .social--youtube {
            background-image: url("../../assets/shared/desktop/youtube.svg");
        }
        .social--twitter {
            background-image: url("../../assets/shared/desktop/twitter.svg");
        }
        .social--pinterest {
            background-image: url("../../assets/shared/desktop/pinterest.svg");
        }
        .social--instagram {
            background-image: url("../../assets/shared/desktop/instagram.svg");
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        row-gap: 1.9rem;
        margin-bottom: 12rem;

        font-weight: 700;
        font-size: $font-link-1;
        line-height: $line-height-link-1;
        letter-spacing: $ls-link-1;
    }

    .cta-2 {
        margin-bottom: 3.2rem;
    }

    &__copyright {
        margin: 0;
    }
}
