.header {
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;

    // Hamburger Open Styles (style rules for when header element has "open" class)
    &.open {
        nav {
            z-index: 3;
        }
        .header__toggle {
            > span:first-child {
                transform: rotate(45deg);
                background: $black;
            }

            > span:last-child {
                transform: rotate(-45deg);
                background: $black;
            }
        }

        .header__menu {
            transform: translateY(18.3rem);
        }
    }
    // End hamburger-open styles

    // full screen overlay hidden by default
    .overlay {
        opacity: 0;
        position: fixed;
        top: 31.5rem;
        right: 0px;
        bottom: 0px;
        left: 0px;
        // background-color: $darkBlue;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);

        // overlay becomes visible after adding "fade-in" class
        &.fade-in {
            @include breakpoint-down(small) {
                display: block;
                z-index: 2;
                top: 7rem;
            }
        }
    }

    nav {
        position: relative;
        height: 7.2rem;
    }

    &__toggle {
        // Mobile Menu Toggle

        > span {
            display: block;
            width: 20px;
            height: 2px;
            transform-origin: 6px;
            background-color: black;
            transition: all 300ms ease-in-out;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__menu {
        // display: none;
        background: $white;
        color: $black;
        padding: 3.2rem;
        width: 100%;
        letter-spacing: 0.25rem;
        margin: 0 2rem 0 auto;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        transition: transform 500ms ease-in-out;
        position: absolute;
        right: 0;
        top: -11.525rem;
        transform: translateY(-18.3rem);

        z-index: -2;

        @include breakpoint-up(medium) {
            display: none;
        }

        > a:not(.cta) {
            margin-bottom: 2.6rem;
        }

        > .cta {
            width: 100%;
            text-align: center;
        }
    }

    &__links {
        > a {
            padding: 0.2rem;
            margin-right: 3.2rem;
            transition: opacity 150ms ease-in-out;
            &:hover{
                opacity: 0.3;
            }
        }

    }
    .cta {
        padding: 1.2rem 1.6rem;
        background-color: $black;
        color: $white;
        transition: all 150ms ease-in-out;
        &:hover {
            background-color: $gray;
            color: $black;
        }
    }
}
