.sr-only {
	border: 0;
    width: 1px;
    padding: 0;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
}

.noscroll {
	overflow: hidden;
	max-height: 100vh;
}

.pad-20 {
	padding: 20px;
}

.no-border {
	border: none;
}

.full-width-on-mobile {
	@include breakpoint-down(small) {
		width: 100%;
	}
}

// Visibility
.hide-for-mobile {
	@include breakpoint-down(small) {
		display: none !important;
	}
}

.hide-for-desktop {
	@include breakpoint-up(medium) {
		display: none !important;
	}
}

.white {
	color: white !important;
}

.bg-black {
	background-color: black !important;
}

.all-caps {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.block-at-tablet {
	@include breakpoint-up(medium) {
		display: block;
	}
}

// Spacing
.container {
	margin: 0 auto;
	max-width: 111rem; // 1440px for desktop

	&--pall {
		padding: $mobile;

		@include breakpoint-up(medium) {
			padding: $tablet;
		}
	}
	&--py {
		padding-top: $mobile;
		padding-bottom: $mobile;

		@include breakpoint-up(medium) {
			padding-top: $tablet;
			padding-bottom: $tablet;
		}
	}
	&--px {
		padding-right: $mobile;
		padding-left: $mobile;

		@include breakpoint-up(medium) {
			padding-right: $tablet;
			padding-left: $tablet;
		}
	}
	&--pt {
		padding-top: $mobile;

		@include breakpoint-up(medium) {
			padding-top: $tablet;
		}
	}
	&--pr {
		padding-right: $mobile;
	}
	&--pb {
		padding-bottom: $mobile;
	}
	&--pl {
		padding-left: $mobile;
		@include breakpoint-up(medium) {
			padding-left: $tablet;
		}
	}
}

// Flexbox
.flex {
	display: flex;

	&-jc-sb {
		justify-content: space-between;
	}

	&-jc-c {
		justify-content: center;
	}

	&-ai-c {
		align-items: center;
	}

	&-half {
		flex-basis: 50%;
	}

	&--lg {
		@include breakpoint-up(large) {
			display: flex;
			justify-content: space-between;
		}
	}

	&-half--lg {
		@include breakpoint-up(large) {
			flex-basis: calc(50% - 2rem);
		}
	}
}

// Grid
.grid {
	display: grid;
	&-js-c {
		justify-self: center;
	}
}

.grid--2x2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.grid--4x4 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
}

// TYPOGRAPHY

.heading-1 {
	font-size: $font-heading-1-mob;
	line-height: $line-height-heading-1-mob;
	letter-spacing: $ls-heading-1-mob;
	@include breakpoint-up(medium) {
		font-size: $font-heading-1;
		line-height: $line-height-heading-1;
		letter-spacing: $ls-heading-1;
	}
}
.heading-2 {
	font-weight: 700;
	font-size: $font-heading-2;
	line-height: $line-height-heading-2;
	margin-bottom: 1.8rem;
}
.heading-3 {
	font-weight: 700;
	font-size: $font-heading-3;
	line-height: $line-height-heading-3;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

.subhead-1 {
	font-weight: 400;
	font-size: $font-subhead-1;
	line-height: $line-height-subhead-1;
}
.subhead-2 {
	font-weight: 400;
	font-size: $font-subhead-2;
	line-height: $line-height-subhead-2;
	margin-bottom: 1.8rem;
}

.link-1 {
	font-size: $font-link-1;
	letter-spacing: $ls-link-1;
	font-weight: 700;
}

.link-2 {
	color: $gray;
	font-size: $font-link-2;
	line-height: $line-height-link-2;
	letter-spacing: $ls-link-2;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: underline;
}

.display-font {
	font-size: 6.25rem;
	line-height: 6.25rem;
	@include breakpoint-up(medium) {
		font-size: $font-display;
		line-height: $line-height-display;
	}
}

// Utility
.text-body {
	font-size: $font-body;
	line-height: $line-height-body;
	margin-top: 1.6rem;
	margin-bottom: 2.3rem;
	color: rgba(0, 0, 0, 0.6);
}
.white .text-body {
	color: rgba(255, 255, 255, 0.6);
}

.cta-2 > a {
	display: inline-flex;
	&:after {
		content: "";
		width: 4.2rem;
		height: 1.2rem;
		background-size: cover;
		margin-left: 1.6rem;
		background-image: url("../../assets/shared/desktop/arrow.svg");
		transition: margin-left 200ms ease-in-out;
	}
	&:hover {
		text-decoration: underline;
		&:after {
			margin-left: 0.8rem;
		}
	}
}
.white .cta-2 > a::after {
	background-image: url("../../assets/shared/desktop/arrow-white.svg");
}

.cta-3 {
	display: inline-flex;
	text-transform: uppercase;
	&:after {
		content: "";
		width: 4.2rem;
		height: 1.2rem;
		background-size: cover;
		position: absolute;
		right: 0;
		background-image: url("../../assets/shared/desktop/arrow-white.svg");
	}
}

.label {
	font-size: $font-label;
	letter-spacing: $ls-label;
	font-weight: bold;
	opacity: 0.5;
}

.accented {
	position: relative;
	&::before {
		content: "";
		background: $accent;
		position: absolute;
		top: 0;
		left: 3.3rem;
		width: 12.8rem;
		height: 0.6rem;

		// reposition at 560px breakpoint
		@include breakpoint-up(xsmall) {
			left: 0;
			width: 0.6rem;
			height: 100%;

		}
	}
}

.dec-line {
	width: 100%;
	border-bottom: 1px solid rgba(151, 151, 151, 0.25);
	margin-bottom: 2rem;
}

.divider-line {
	width: 100%;
	height: 0.1rem;
	margin: 2.4rem 0;
	background-color: $black;
}
