// Breakpoints
$breakpoints-up: (
    "small": "40em", // 640px
    "medium": "48em", // 768px "tablet"
    "large": "64em", // 1024px "desktop"
    "xlarge": "75em", // 1200px
    "xxlarge": "88.75em", // 1385px
);
$breakpoints-down: (
    "xsmall": "39.9375em",
    "small": "47.9375em",
    "medium": "63.9375em",
    "large": "87.4375em",
);
@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}
@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}