// Colors
$black: rgb(0, 0, 0);
$gray: #7d7d7d;
$light-gray: #353535;
$very-light-gray: #f3f3f3;
$white: rgb(255, 255, 255);

// TYPOGRAPHY
$font-body: 14px;
$line-height-body: 28px;

$font-link-1: 12px;
$line-height-link-1: 15px;
$letter-spacing-link-1: 2.5px;

$font-link-2: 9px;
$line-height-link-2: 11px;
$letter-spacing-link-2: 2px;

$font-subhead-1: 15px;
$line-height-subhead-1: 19px;

$font-subhead-2: 13px;
$line-height-subhead-2: 17px;

$font-heading-1: 56px;
$line-height-heading-1: 64px;

$font-heading-2: 24px;
$line-height-heading-2: 29px;

$font-heading-3: 18px;
$line-height-heading-3: 22px;

$font-display: 200px;
$line-height-display: 150px;

// Font Families
$serif: "Libre Baskerville", serif;

// Container Padding
$mobile: 1.5rem; //24
$tablet: 2.5rem; //40
// $desktop: 10.3125rem; //165
