// Colors
$accent: linear-gradient(to right, #ffc593, #bc7198, #5a77ff);
$black: #000;
$gray: #dfdfdf;
$white: #fff;

// TYPOGRAPHY
$font-body: 1.5rem;
$line-height-body: 2.5rem;

$font-link-1: 1.2rem;
$line-height-link-1: 15px;
$ls-link-1: 0.2rem;

$font-link-2: 9px;
$line-height-link-2: 11px;
$ls-link-2: 2px;

$font-subhead-1: 15px;
$line-height-subhead-1: 19px;

$font-subhead-2: 13px;
$line-height-subhead-2: 17px;

$font-heading-1: 4rem;
$line-height-heading-1: 4.8rem;
$ls-heading-1: 0.417rem;

$font-heading-1-mob: 3.2rem;
$line-height-heading-1-mob: 4rem;
$ls-heading-1-mob: 0.333rem;

$font-heading-2: 24px;
$line-height-heading-2: 29px;

$font-heading-3: 18px;
$line-height-heading-3: 22px;

$font-display: 200px;
$line-height-display: 150px;

// Font Families
$sans: 'DM Sans', sans-serif;

// Container Padding
$mobile: 2.4rem; //24
$tablet: 4rem; //40
// $desktop: 10.3125rem; //165
